body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#menu {
  padding-top: 50px;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}
